body{
    font-family: Arial, sans-serif;
    margin: 0; /*batas antara kotak*/
    padding: 0;
    background-color: #f4f4f4;
}

nav{
    background-color: #eff0c2;
    color: #fff;
    padding: 10px 0; /*jarak atas kana kiri bawah*/
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: #05a9f5;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: #f3b60f;
    color: #05a9f5;
    border-radius: 4px;
    font-weight: 200;
}

nav .logo{
    /*font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #05a9f5;*/
    height: 60px;
    margin-right: 20px;
}